/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

html {
  font-size: 62.5%;
}

body {
  --bg-main: hsl(207, 26%, 17%);
  --bg-other: hsl(209, 23%, 22%);
  --text: hsl(0, 0%, 100%);
  --input-text: hsl(0, 0%, 100%);
  --search-icon: hsl(0, 0%, 100%);
  --select-hover: #404c57;
  --title-weight: 600;
  --subtitle-weight: 400;

  font-family: "Nunito Sans", sans-serif;
  background-color: var(--bg-main);
}

button {
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
}

.light-theme {
  --bg-main: hsl(0, 0%, 98%);
  --bg-other: hsl(0, 0%, 100%);
  --text: hsl(200, 15%, 8%);
  --input-text: hsl(0, 0%, 52%);
  --search-icon: hsl(0, 0%, 52%);
  --select-hover: #f2f2f2;
  --title-weight: 800;
  --subtitle-weight: 600;
}

.header {
  color: var(--text);
  background-color: var(--bg-other);
  padding: 2.44rem 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.logo {
  font-size: 2.4rem;
  font-weight: 800;
  cursor: pointer;
}

.theme-content {
  display: flex;
  align-items: center;
  gap: 0.7rem;

  border: none;
  color: var(--text);
  background: transparent;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}

.moon-icon {
  font-size: 1.6rem;
}

.moon-icon[name="sunny-outline"] {
  font-size: 1.9rem;
}

/* SECTION HOME */

.section-home {
  width: 90%;
  margin: 3.6rem auto;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 3rem;
  flex-wrap: wrap;

  margin-bottom: 7.2rem;
}

.search-container {
  padding: 1.28rem 1.92rem;
  background-color: var(--bg-other);
  border-radius: 0.48rem;
  width: 40rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#searchButton {
  border: none;
  background: transparent;
}

.search-icon {
  font-size: 2rem;
}

.search-input {
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  color: var(--input-text);
  background: transparent;
  font-size: 1.6rem;
  opacity: 0.8;
  border: none;
  outline: none;
}

.search-input::placeholder {
  color: var(--input-text);
}

.search-icon {
  color: var(--search-icon);
}

.select-container {
  position: relative;
  width: 18rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  color: var(--text);
  background-color: var(--bg-other);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-weight: var(--subtitle-weight);
}

#selectTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.05rem;
  padding: 1.8rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

#selectSubtitle {
  position: absolute;
  right: 0rem;
  top: 5.2rem;
  border-radius: 0.5rem;
  width: 18rem;
  background-color: var(--bg-other);
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.select-region {
  padding: 1.2rem 1.8rem;
}

.select-region:hover {
  background: var(--select-hover);
}

.home-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5rem;
}

.country-container {
  width: 22rem;
  color: var(--text);
  background-color: var(--bg-other);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease;
}

.country-container:hover {
  transform: scale(1.05);
}

.flag-img {
  width: 100%;
  height: 14rem;
}

.country-content {
  padding: 2rem;
}

.country-title {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: var(--title-weight);
}

.country-info ul li {
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  font-weight: var(--subtitle-weight);
}

.country-info ul li:last-child {
  margin-bottom: 2rem;
}

.country-info ul li span {
  color: var(--text);
  opacity: 0.7;
}

.not-found {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 4.4rem;
  color: #fff;
  text-align: center;
}

.not-found span {
  margin-top: 1.6rem;
  display: block;
  font-size: 1.4rem;
  opacity: 0.7;
}

/* SECTION DETAILS */

#backBtn {
  position: relative;
  padding: 0.6rem 3.2rem 0.6rem 4.4rem;
  margin-bottom: 6.4rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background: var(--bg-other);
  color: var(--text);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#backBtn .icon-arrow {
  position: absolute;
  top: 50%;
  left: 2.2rem;
  transform: translate(0, -50%);
}

.section-detail {
  width: 90%;
  margin: 6.2rem auto;
}

.detail-container {
  display: flex;
  align-items: center;
}

.img-detail {
  width: 50rem;
  height: 32rem;
  margin-right: auto;
}

.detail-content {
  color: var(--text);
  margin-right: auto;
}

.detail-content h2 {
  font-size: 3rem;
  margin-bottom: 3.2rem;
  font-weight: 800;
}

.detail-content .country-info {
  display: flex;
  gap: 12.8rem;
}

.detail-content .country-info ul li {
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
  letter-spacing: 0.05rem;
}

.border-container {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  margin-top: 3.6rem;
}

.border-container h3 {
  color: var(--text);
  font-size: 1.4rem;
}

.border-button {
  margin-right: 1.2rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  background-color: var(--bg-other);
  color: var(--text);
  padding: 0.6rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media only screen and (max-width: 544px) {
  .home-main {
    justify-content: center;
  }

  .country-info {
    display: block;
  }

  .country-info ul:first-child {
    margin-bottom: 3.6rem;
  }

  .border-container {
    align-items: flex-start;
    flex-direction: column;
  }

  .img-detail {
    width: 32rem;
    height: 16rem;
  }
}

@media only screen and (max-width: 736px) {
  .search-container {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .detail-container {
    align-items: flex-start;
    flex-direction: column;
    row-gap: 6.2rem;
  }
}
